* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3a4750; 
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #000;
    background-color: #f6e05b;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #bf9000;
    font-weight: bold;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #a39293;
    align-items: center;
    padding: 10px;
    height: 50px;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar .logo {
    font-weight: bold;
    font-size: 25px;
}

#navbar ul li a {
    text-decoration: none;
    margin: 0px 12px;
    padding: 12px;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
}

#navbar ul li a:hover {
    background-color: #6654;
    color: white;
    font-weight: bold;

}

#showcase {
    background: #333 url("https://images.unsplash.com/photo-1601758063541-d2f50b4aafb2?q=80&w=2005&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 3rem;
    font-size: 3rem;
    color: white;
}

/* Utility Classes */
.container {
    margin: 0 auto ;
    width: 100%;
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    padding: 0 2rem;
    overflow: hidden;
    background-color: #a39293;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

/* Section Co děláme */
.text-primary {
    color: #dfd3c3;
}

#what {
    background-color: #dfd3c3;
}

#what .items {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

#what .item {
    text-align: center;
    padding: 1rem;
    color: white;
}

#what .item .items i {
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Plemena psů
.plemena-psu {
    border: 5px solid black;
    margin: 0px 20px;
    padding: 10px;
    background-color: #596e79;
    box-shadow: 7px 10px 42px -3px rgba(0,0,0,1);
}

.plemena-psu > p {
    margin: 0 auto;
    max-width: 170px;
    color: white;
    text-align: justify;
}

.plemena-psu>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
} */

/* #photo-gallery {
    max-width: fit-content;
    margin: 0 auto 200px;
    background-color: #3a4750;
} */


.cenik {
    margin-bottom: 200px;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #a7a7a7;
}





/* Formulář */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn1 {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;   
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


/* Photogallery */
.header{
    margin-top: 50px;
    text-align: center;
    padding: 32px;
    color: white;
}
.header h1{
    font-family: 'Sacramento';
    font-size: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}

footer {
    margin: 20px 0;
}


footer p {
    text-align: center;
    font-size: 1.1rem;
    color: white;
}